*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center !important;
    background: rgb(249, 247, 247) !important;
}
p{
    font-size: 18px;
}
.section-margin{
    padding-top: 50px;
    padding-bottom: 50px;
}
.align-title{
    margin-top: 50px;
    margin-bottom: 100px;
}
/*NavBar Code Start*/

.navbar{
    height: 75px !important;
}
.nav-link{
    color: orange !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}
.img-logo{
    width: 100px;
}

/*NavBar Code End*/

/*Banner Code Start*/

#bannerz{
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slides2.jpg");

    height: 800px;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    
}

.btn-custom{
    color: rgb(96, 69, 1) !important;
    width: 220px !important;
    height: 50px;
    font-size:13px !important;
    margin: auto; 
}   
/*Banner Code End*/


/*Corporate Code Start*/
#corporatez{
     background-color: white;
}
#corporatez>h2 {
    
    padding: 50px 0 0 0;
}
.corp-img{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.199); 
  border-radius: 100%;
  transition: ease-in-out .15s;
  
}

/*Corporate Code End*/

/*Abut Code Start*/
#aboutz{
    background-color: rgb(133, 96, 45);
    color: white;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    

}
#aboutz h2{
   text-align: right;

}
.about-img{ 
    width: 100%;
    object-fit: contain;
}
/*Abut Code End*/

/*Position Code Start*/
/*========Flipping Card===========*/

.flip-card {
    background-color: transparent;
    width: 250px !important;
    height: 330px;
    border: none;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;   

    box-sizing: content-box;
  }
     
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
    
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.259);
  }

  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #876445;
    color: white;
    line-height: 1;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #876445;
    color: white !important;
    transform: rotateY(180deg);
    line-height: 1;
  }

  .flip-card-back>a{
    color: white !important;
    font-size: 15px;
    border-radius: 100px;
    transition: ease-in-out .15s;
    
  }
  .flip-card-back>a:hover{
    color: rgb(48, 48, 48) !important;
    border-radius: 100px;
    font-weight: bold;
    
  
  }
  
  .cd-1{
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/card1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  .cd-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/card2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
  }
  .cd-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/card3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
  }
  .cd-4{
    background-image:linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url("../images/card5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
  }


  /*front logo design*/
  .card-logo{
    width: 120px;
    height: 120px;
    font-size: 60px;
    padding: 20px;
    border: 5px solid white;    
    border-radius: 100%;
    
  }

/*==============================*/
.wex{
    background: none;
    border: none;
    border-radius: 50%;
    box-sizing:border-box;

    justify-content: center;
    transition: ease-in-out .15s;
    color: red;
    font-size: 40px;
}
.wex:active {
    color: rgb(157, 24, 24);
}


/*Position Code End*/

/*Components Code Start*/

.carousel{
   background-image: linear-gradient(320deg, rgb(255, 255, 255),rgb(246, 240, 240), rgb(255, 255, 255));
   box-shadow: 0 0 20px 0 rgba(11, 11, 11, 0.273);
}
#componentz p {
    text-align: justify;
}
.carousel-img{
 width: 400px;
 height: 500px;
 object-fit: cover;
 object-position: center center;
}
/*Components Code End*/

/*Why Code start*/
#whyz{
    background-color: rgb(133, 96, 45);
    color: white;
    text-align: center;
}
/*Why Code End*/

/*Timeline Code Start*/
a{text-decoration:none}
h4{text-align:center;margin:30px 0;color:#444}

.main-timeline{
  position:relative
}

.main-timeline:before{
  content:"";width:5px;height:100%;margin:0 auto;
  background:#242922;position:absolute;top:0;left:0;right:0;
  border-radius:20px;
}

.main-timeline .timeline{
  display:inline-block;margin-bottom:50px;position:relative
}

.main-timeline .timeline:before{
  content:"";width:20px;height:20px;border-radius:50%;border:4px solid #fff;background:orange;position:absolute;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%)}

.main-timeline .timeline-icon{display:inline-block;width:130px;height:130px;border-radius:50%;border:3px solid orange;padding:13px;text-align:center;position:absolute;top:50%;left:30%;transform:translateY(-50%)}
.main-timeline .timeline-icon i{display:block;border-radius:50%;background:rgb(96, 69, 1);font-size:64px;color:#fff;line-height:100px;z-index:1;position:relative}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{content:"";width:100px;height:4px;background:orange;position:absolute;top:50%;right:-100px;transform:translateY(-50%)}
.main-timeline .timeline-icon:after{width:70px;height:50px;background:rgb(249, 247, 247);top:89px;right:-30px}

.main-timeline .timeline-content{width:50%;padding:0 50px;margin:52px 0 0;float:right;position:relative}
.main-timeline .timeline-content:before{content:"";width:70%;height:100%;border:3px solid orange;border-top:none;border-right:none;position:absolute;bottom:-13px;left:35px}
.main-timeline .timeline-content:after{content:"";width:37px;height:3px;background:orange;position:absolute;top:13px;left:0}

.main-timeline .title{font-size:20px;font-weight:600;color:orange;text-transform:uppercase;margin:0 0 5px}
.main-timeline .description{display:inline-block;font-size:16px;color:#404040;line-height:20px;letter-spacing:1px;margin:0; text-align: justify;}

.main-timeline .timeline:nth-child(even) .timeline-icon{left:auto;right:30%}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-100px}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{right:auto;left:-30px;}
.main-timeline .timeline:nth-child(even) .timeline-content{float:left}
.main-timeline .timeline:nth-child(even) .timeline-content:before{left:auto;right:35px;transform:rotateY(180deg)}
.main-timeline .timeline:nth-child(even) .timeline-content:after{left:auto;right:0}
.main-timeline .timeline:nth-child(2n) .timeline-icon i,.timeline-icon:before{background:rgb(96, 69, 1)}
.main-timeline .timeline:nth-child(2n) .timeline-icon{border-color:orange}
.main-timeline .timeline:nth-child(2n) .title{color:orange}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{border-left-color:orange;border-bottom-color:orange}
.main-timeline .timeline:nth-child(3n) .timeline-icon i,.timeline-icon:before{background:rgb(96, 69, 1)}
.main-timeline .timeline:nth-child(3n) .timeline-icon{border-color:orange}
.main-timeline .timeline:nth-child(3n) .title{color:orange}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{border-left-color: orange;border-bottom-color: orange}
.main-timeline .timeline:nth-child(4n) .timeline-icon i,.timeline-icon:before{background:rgb(96, 69, 1)}
.main-timeline .timeline:nth-child(4n) .timeline-icon{border-color:oran}
.main-timeline .timeline:nth-child(4n) .title{color:orange}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{border-left-color:orange;border-bottom-color:orange}
@media only screen and (max-width:1200px){.main-timeline .timeline-icon:before{width:50px;right:-50px}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-50px}
.main-timeline .timeline-content{margin-top:75px}
}
@media only screen and (max-width:991px){.main-timeline .timeline{margin:0 0 10px}
.main-timeline .timeline-icon{left:25%}
.main-timeline .timeline:nth-child(even) .timeline-icon{right:25%}
.main-timeline .timeline-content{margin-top:115px}
}
@media only screen and (max-width:767px){.main-timeline{padding-top:50px}
.main-timeline:before{left:80px;right:0;margin:0}
.main-timeline .timeline{margin-bottom:70px}
.main-timeline .timeline:before{top:0;left:83px;right:0;margin:0}
.main-timeline .timeline-icon{width:60px;height:60px;line-height:40px;padding:5px;top:0;left:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:0;right:auto}
.main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{width:25px;left:auto;right:-25px}
.main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{width:25px;height:30px;top:44px;left:auto;right:-5px}
.main-timeline .timeline-icon i{font-size:30px;line-height:45px}
.main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{width:100%;margin-top:-15px;padding-left:130px;padding-right:5px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:right}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{width:50%;left:120px}
.main-timeline .timeline:nth-child(even) .timeline-content:before{right:auto;transform:rotateY(0)}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{left:85px}
}
@media only screen and (max-width:479px){.main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{padding-left:110px}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{left:99px}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{left:65px}
}
/*Timeline Code End*/


/*Footer Code Start*/


.footer-p{
  color: white;
  font-size: 13px;
  text-align: center;
 
 
}
.footer-social{
    background-color: orange;
}
.footer-social a {
    color: rgb(43, 43, 43);
    transition: ease-in-out .15s;
}
.footer-social a:hover {
    color: rgb(255, 255, 255);
    
}
.column-edit h6{
  color: orange;
  font-weight: bold;
  margin-bottom: 18px;
  
}
.column-edit i {
  color: orange;
  padding-right: 10px ;
}
.column-edit li {
  list-style: none;
}
.column-edit p {
  font-size: 13px;
  color: white;
  display: flex;

}
.column-edit a {
  color: white;
  transition: ease-out .15s;
}
.column-edit a:hover {
  color: rgb(36, 36, 36);
  transition: ease-out .15s;
  font-weight: bold;
}


.footer-copyright{
 background-color: #2F2519;
}
.footer-copyright a{
    color: orange;
    transition: ease-out .15s;
   }


/* footer logo start*/
.flip-logo {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  perspective: 1000px; 
  transition: ease-in-out .15s;
}
.flip-logo:hover{
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.526);
}

.flip-logo-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  
  transform-style: preserve-3d;
}

.flip-logo .flip-logo-inner {
  animation: flipflop 15s linear infinite 0s alternate;   
}

.flip-logo-front, .flip-logo-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 100%;
}


.flip-logo-front {
  background-color: transparent;
  color: black;
}


.flip-logo-back {
  background-color: transparent;
  color: #242922;
  transform: rotateX(180deg);
}

.flip-logo-back p {
 margin: 0 !important;  
 padding: 0 !important;
 letter-spacing: -1px;
line-height: 0.5;
}
.flip-logo-back h4 {
  margin: 0 !important;  
  padding: 0 !important;
 }

 @keyframes flipflop{

 10%{
  transform: rotateX(0deg); 

 }

 70%{
  transform: rotateX(0deg); 
}
  75%{
    transform: rotateX(180deg); 

  }
 
 100%{
  transform: rotateX(180deg); 
 }
 }


/*footer logo end */

/*Footer Code End*/
@media only screen and (max-width: 991px) {
    p{
        font-size: 14px !important;
    }
    h2{
        font-size: 20px;
    }
    .navbar{
        height: 70px !important;
    }
   .navbar-nav{
    background-color: black;
    opacity: 82%;
    border: 1px solid orange;
    padding-top: 10px;
    padding-bottom: 10px;
   }
   .nav-link:hover{
    align-items: center;
    color: orange !important;
   }
   .img-logo{
     width: 80px;
    transform: translateY(-8px);
   }
   .navbar-toggler{
    transform: translateY(-8px);
   }
    .col-lg-6{
        margin: 10px 0 10px !important;
        text-align: justify;
   
    }
    .col-lg-6>h2{
        text-align: center;
    }
    .company-name{
        font-size: 0px !important;
    }
    .nav-link{
        color: rgb(255, 255, 255) !important;
    }
    .flip-card-back>a{
       font-size: 13px ;
      }
 
  }

