*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center !important;
    background: rgb(249, 247, 247) !important;
}
p{
    font-size: 20px;
}
/*NavBar Code Start*/

.navbar{
    height: 95px !important;
}
.nav-link{
    color: orange !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

/*NavBar Code End*/

/*Banner Code Start*/

#bannerz{
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/slides2.jpg");
    height: 800px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
}

.btn-custom{
    color: rgb(96, 69, 1) !important;
    width: 220px !important;
    height: 50px;
    font-size:13px !important;
    margin: auto; 
}   
/*Banner Code End*/


/*Corporate Code Start*/
#corporatez{
     background-color: white;
}
#corporatez>h2 {
    
    padding: 50px 0 0 0;
}
/*Corporate Code End*/

/*Abut Code Start*/
#aboutz{
    background-color: rgb(133, 96, 45);
    color: white;
    text-align: justify;
    padding-top: 70px;
    padding-bottom: 70px;

}
#aboutz h2{
   text-align: right;

}
.about-img{ 
    width: 100%;
    object-fit: contain;
}

.mx-auto{

}
/*Abut Code End*/

/*Position Code Start*/
#positionz{
    padding-top: 50px;
    padding-bottom: 50px;
}
.position-text{
    margin-top: 50px;
    margin-bottom: 100px;
}
.wex{
    background: none;
    border: none;
    border-radius: 50%;
    box-sizing:border-box;

    justify-content: center;
    transition: ease-in-out .15s;
    color: red;
    font-size: 40px;
}
.wex:active {
    color: rgb(157, 24, 24);
}
/*Position Code End*/

/*Components Code Start*/

#componentz{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.carousel{
   background-image: linear-gradient(320deg, rgb(233, 231, 231),rgb(254, 253, 253), rgb(238, 238, 238));
   box-shadow: 0 0 20px 0 rgba(11, 11, 11, 0.273);
}
#componentz p {
    text-align: justify;
}
.carousel-img{
 width: 400px;
 height: 500px;
 object-fit: cover;
 object-position: center center;
}


/*Components Code End*/

@media only screen and (max-width: 980px) {
    p{
        font-size: 17px;
    }
 .navbar{
    height: 120px !important;
   }
    /* 
   .navbar-nav{
        background-color: black;
        opacity: 80%;
        width: 420px;
        border-radius: 50px;
   }*/
    .col-lg-6{
        margin: 10px 0 10px !important;
        text-align: justify;
   
    }
    .col-lg-6>h2{
        text-align: center;
    }
    .company-name{
        font-size: 0px !important;
    }
    .nav-link{
        color: rgb(255, 255, 255) !important;
    }
 
  }